<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Config</title>

	<link href="/style/bootstrap.min.css" rel="stylesheet" />
	<link href="/style/layout.css" rel="stylesheet" />


	<!--[if lt IE 9]>
	<script src="/javascript/html5shiv.js"></script>
	<script src="/javascript/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/console"><span>Config</span></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group" style="font-weight: 600;color: #30a5ff;text-transform: uppercase;text-align: right;">
				Welcome<br/><span>HELLO</span>&nbsp;<span>WORLD</span>
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/console/face_upload"><span class="glyphicon glyphicon-user"></span> Face Upload</a></li>
            <li><a href="/console/face_register"><span class="glyphicon glyphicon-list-alt"></span> User Management</a></li>
			<li><a href="/console/face_task"><span class="glyphicon glyphicon-folder-open"></span> Task Management</a></li>
			<li class="active"><a href="/console/face_config"><span class="glyphicon glyphicon-ok"></span> Config Info</a></li>
			<li><a href="/console/face_detect"><span class="glyphicon glyphicon-random"></span> Face Detect</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
				<li class="active">Config Info</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row" style="display:none;">
			<div class="col-lg-12">
				<h1 class="page-header">Config Info</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading" style="display:none;"><span class="glyphicon glyphicon-user"></span>Config Info</div>
					<div id="config-info" class="panel-body">
						<form class="form-horizontal form-profile-save" method="post">
							<fieldset>
                                <input type="text" style="display:none;" id="id" name="id" />
                                <input type="text" style="display:none;" id="version" name="version" />
                                <div class="form-group">
                                    <label for="serverIP" class="col-sm-3 control-label">Server IP</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="serverIP" name="serverIP" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="imageDBName" class="col-sm-3 control-label">imageDB name</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="imageDBName" name="imageDBName" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="userquality" class="col-sm-3 control-label">User's image quality score</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="userquality" name="userquality" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="visitorquality" class="col-sm-3 control-label">Visitor's image quality score</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="visitorquality" name="visitorquality" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="similarscore" class="col-sm-3 control-label">Similarity degree score</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="similarscore" name="similarscore" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="time1" class="col-sm-3 control-label">Opening time interval</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="time1" name="time1" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="time2" class="col-sm-3 control-label">Time interval of the same user identification</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="time2" name="time2" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="time3" class="col-sm-3 control-label">Popup disappearance time</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="time3" name="time3" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                
                                <div class="form-group">
									<div class="col-md-12 widget-left">
                                        <button type="button" class="btn btn-primary form-profile-save pull-left">Save Changes</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div><!--/.col-->
		</div>
	</div>	<!--/.main-->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
                </div>
                <div class="modal-body"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

	<script src="/javascript/jquery-1.11.1.min.js"></script>
	<script src="/javascript/bootstrap.min.js"></script>
	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
			if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
			else $('#sidebar-collapse').collapse('hide');
		});

        function _reset_input(input) {
            input.removeClass("alert-danger");
            input.tooltip('destroy');
        }

        function _set(el, message) {
            el.addClass("alert-danger");
            el.attr("title", message);
            el.tooltip('show');
        }

		$(".btn.btn-primary.form-profile-save").click(function() {
		    _reset_input($(".form-horizontal.form-profile-save").find("input"));

            var data = $(".form-horizontal.form-profile-save").serializeArray();
            $.post("/console/faceconfig_management/save", data, function(r, status) {
                if (r.status == "SUCCEED") {
                    $(".bs-example-modal-sm").find(".modal-body").html("Modified successfully.");
                    $(".bs-example-modal-sm").modal("show");
                    $('.bs-example-modal-sm').on('hidden.bs.modal', function (e) {
                        location.reload();
                    });
                } else {
                    if (r.message.username) {
                        _set($(".form-horizontal.form-profile-save").find("input[id='username']"), r.message.username);
                    }
                    
                    if (r.message.WARNING) {
                        $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                        $(".bs-example-modal-sm").modal("show");
                    }
                }
            });
        });
		
		$(document).ready(function() {
			$.get("/console/faceconfig_management/get/1", null, function(r, status) {
                $("#config-info").find("input[id='id']").val(r.id);
                $("#config-info").find("input[id='version']").val(r.version);
                $("#config-info").find("input[id='serverIP']").val(r.serverIP);
                $("#config-info").find("input[id='imageDBName']").val(r.imageDBName);
                $("#config-info").find("input[id='userquality']").val(r.userquality);
                $("#config-info").find("input[id='visitorquality']").val(r.visitorquality);
                $("#config-info").find("input[id='similarscore']").val(r.similarscore);
                $("#config-info").find("input[id='time1']").val(r.time1);
                $("#config-info").find("input[id='time2']").val(r.time2);
                $("#config-info").find("input[id='time3']").val(r.time3);
            });
	    });
	</script>	
</body>
</html>
