<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>HELLOWORLD</title>

	<link href="/style/bootstrap.min.css" rel="stylesheet" />
	<link href="/style/layout.css" rel="stylesheet" />


	<!--[if lt IE 9]>
	<script src="/javascript/html5shiv.js"></script>
	<script src="/javascript/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/console"><span>Lumino</span>Admin</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group" style="font-weight: 600;color: #30a5ff;text-transform: uppercase;text-align: right;">
				Welcome<br/><span th:text="${session.user.firstName}">HELLO</span>&nbsp;<span th:text="${session.user.lastName}">WORLD</span>
			</div>
		</form>
		<ul class="nav menu">
			<li th:if="${session.user.role} == 'A'"><a href="/console/user_management"><span class="glyphicon glyphicon-user"></span> User management</a></li>
			<li th:if="${session.user.role} == 'C'"><a href="/console/task_schedule_tracking"><span class="glyphicon glyphicon-ok"></span> Task schedule tracking</a></li>
			<li th:if="${session.user.role} == 'PM'"><a href="/console/task_allocation"><span class="glyphicon glyphicon-folder-open"></span> Task allocation</a></li>
			<li th:if="${session.user.role} == 'S'"><a href="/console/task_management"><span class="glyphicon glyphicon-list-alt"></span> Task management</a></li>
			<li role="presentation" class="divider"></li>
			<li class="active"><a href="/console/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
				<li class="active">Profile</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Profile</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading"><span class="glyphicon glyphicon-user"></span> User Info</div>
					<div class="panel-body">
						<form class="form-horizontal form-profile-save" method="post">
							<fieldset>
                                <input type="hidden" id="id" name="id" th:value="${user.id}" />
                                <input type="hidden" id="version" name="version" th:value="${user.version}" />
                                <div class="form-group">
                                    <label for="username" class="col-sm-3 control-label">Username</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" data-toggle="tooltip" data-placement="top" maxlength="30" required="required" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}" maxlength="30" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}" maxlength="30" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-5">
                                        <input type="email" class="form-control" id="email" name="email" th:value="${user.email}" data-toggle="tooltip" data-placement="top" maxlength="200" placeholder="e.g john@example.com" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-3 control-label">Password</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="password" name="password" data-toggle="tooltip" maxlength="20" data-placement="bottom" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="20" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
								<div class="form-group">
									<div class="col-md-12 widget-left">
                                        <button type="button" class="btn btn-primary form-profile-save pull-left">Save changes</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div><!--/.col-->
		</div>
	</div>	<!--/.main-->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">WARNING</h4>
                </div>
                <div class="modal-body"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

	<script src="/javascript/jquery-1.11.1.min.js"></script>
	<script src="/javascript/bootstrap.min.js"></script>
	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
			if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
			else $('#sidebar-collapse').collapse('hide');
		})

        function _reset_input(input) {
            input.removeClass("alert-danger");
            input.tooltip('destroy');
        }

        function _set(el, message) {
            el.addClass("alert-danger");
            el.attr("title", message);
            el.tooltip('show');
        }

		$(".btn.btn-primary.form-profile-save").click(function() {
		    _reset_input($(".form-horizontal.form-profile-save").find("input"));

            var data = $(".form-horizontal.form-profile-save").serializeArray();
            $.post("/console/profile/save", data, function(r, status) {
                if (r.status == "SUCCEED") {
                    $(".bs-example-modal-sm").find(".modal-body").html("Success of personal information modification.");
                    $(".bs-example-modal-sm").modal("show");
                    $('.bs-example-modal-sm').on('hidden.bs.modal', function (e) {
                        location.reload();
                    });
                } else {
                    if (r.message.username) {
                        _set($(".form-horizontal.form-profile-save").find("input[id='username']"), r.message.username);
                    }
                    if (r.message.email) {
                        _set($(".form-horizontal.form-profile-save").find("input[id='email']"), r.message.email);
                    }
                    if (r.message.password) {
                        _set($(".form-horizontal.form-profile-save").find("input[id='password']"), r.message.password);
                    }
                    if (r.message.firstName) {
                        _set($(".form-horizontal.form-profile-save").find("input[id='firstName']"), r.message.firstName);
                    }
                    if (r.message.lastName) {
                        _set($(".form-horizontal.form-profile-save").find("input[id='lastName']"), r.message.lastName);
                    }
                    if (r.message.WARNING) {
                        $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                        $(".bs-example-modal-sm").modal("show");
                    }
                }
            });
        });
	</script>	
</body>
</html>
