<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>HELLOWORLD</title>

	<link href="/style/bootstrap.min.css" rel="stylesheet" />
    <link href="/style/bootstrap-table.min.css" rel="stylesheet" />
	<link href="/style/layout.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="/javascript/html5shiv.js"></script>
    <script src="/javascript/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/console"><span>Lumino</span>Admin</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group" style="font-weight: 600;color: #30a5ff;text-transform: uppercase;text-align: right;">
				Welcome<br/><span th:text="${session.user.firstName}">HELLO</span>&nbsp;<span th:text="${session.user.lastName}">WORLD</span>
			</div>
		</form>
		<ul class="nav menu">
			<li th:if="${session.user.role} == 'A'"><a href="/console/user_management"><span class="glyphicon glyphicon-user"></span> User management</a></li>
			<li th:if="${session.user.role} == 'C'"><a href="/console/task_schedule_tracking"><span class="glyphicon glyphicon-ok"></span> Task schedule tracking</a></li>
			<li class="active" th:if="${session.user.role} == 'PM'"><a href="/console/task_allocation"><span class="glyphicon glyphicon-folder-open"></span> Task allocation</a></li>
			<li th:if="${session.user.role} == 'S'"><a href="/console/task_management"><span class="glyphicon glyphicon-list-alt"></span> Task management</a></li>
			<li role="presentation" class="divider"></li>
            <li><a href="/console/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
				<li class="active">Task allocation</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Task allocation</h1>
			</div>
		</div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-primary btn-assign" data-toggle="modal">Assign</button>
                        <button class="btn btn-default btn-re-open">Re Open</button>
                        <button class="btn btn-success btn-push-back">Push Back</button>
                    </div>
                    <div class="panel-body">
                        <table id="_table_project_search">
                            <thead>
                                <tr>
                                    <th data-field="id" data-formatter="_formatte_project_id" data-align="center"></th>
                                    <th data-field="name" >Name</th>
                                    <th data-field="worldId">World Id</th>
                                    <th data-field="locale">Locale</th>
                                    <th data-field="state">State</th>
                                    <th data-field="projectManagerName">Project Manager</th>
                                    <th data-field="supplierName" data-formatter="_formatte_supplier_name">Supplier</th>
									<th data-field="sourceFileUrl">Source File</th>
									<th data-field="translateFileUrl">Translate File</th>
                                    <th data-field="creation" data-formatter="_formatte_locale_date">Creation Date</th>
                                    <th data-field="assinged" data-formatter="_formatte_locale_date">Assinged Date</th>
                                    <th data-field="checkin" data-formatter="_formatte_locale_date">Checkin Date</th>
                                    <th data-field="pushback" data-formatter="_formatte_locale_date">Pushback Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
	</div>	<!--/.main-->

	<div id="dialog-task-allocation-assign" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Task Allocation  | <span id="dialog-task-allocation-assign-title"></span></h4>
				</div>
				<div class="modal-body">
					<form role="form" class="form-horizontal form-task-allocation-assign" method="POST">
						<input type="text" style="display:none;" id="id" name="id" />
                        <input type="text" style="display:none;" id="version" name="version" />
                        <input type="text" style="display:none;" id="supplier" name="supplier" />
						<div class="form-group">
							<label for="name" class="col-sm-3 control-label">Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="name" name="name" readonly="readonly" />
							</div>
							<div class="col-sm-2"></div>
						</div>
                        <div class="form-group">
                            <label for="worldId" class="col-sm-3 control-label">World Id</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="worldId" name="worldId" readonly="readonly" />
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group">
                            <label for="locale" class="col-sm-3 control-label">Locale</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="locale" name="locale" readonly="readonly" />
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group">
                            <label for="state" class="col-sm-3 control-label">State</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="state" name="state" readonly="readonly" />
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
						<div class="form-group">
							<div class="col-sm-22">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Supplier List</div>
                                    <div class="panel-body">
                                        <table data-toggle="table"
                                               data-url="/console/project_management/supplier_list"
                                               data-method="get"
                                               data-striped="true"
                                               data-show-refresh="true"
                                               data-show-toggle="false"
                                               data-show-columns="true"
                                               data-search="true"
                                               data-pagination="true"
                                               data-sidePagination="client"
                                               data-cache="false"
                                               data-sort-name="username"
                                               data-idField="id">
                                            <thead>
                                            <tr>
                                                <th data-field="id" data-formatter="_formatte_supplier_id" data-align="center"></th>
                                                <th data-field="firstName">First Name</th>
                                                <th data-field="lastName">Last Name</th>
                                                <th data-field="email">Email</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9" style="text-align: right;">
								<button type="button" class="btn btn-default form-task-allocation-assign-close" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary form-task-allocation-assign-submit">Save Changes</button>
							</div>
						</div>
					</form>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer modal-footer-reopen-confirm" style="display:none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger btn-task-reopen-confirm" data-dismiss="modal">Confirm</button>
                </div>
                <div class="modal-footer modal-footer-pushback-confirm" style="display:none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger btn-task-pushback-confirm" data-dismiss="modal">Confirm</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

   	<script src="/javascript/jquery-1.11.1.min.js"></script>
	<script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/bootstrap-table.min.js"></script>
	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
			if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
			else $('#sidebar-collapse').collapse('hide');
		});

		function _formatte_project_id(value, row, index) {
		    return '<input name="_project_id" type="radio" value="' + value + '" />';
		}

		function _formatte_supplier_id(value, row, index) {
		    return '<input name="_supplier_id" type="radio" value="' + value + '" />';
		}

		function _formatte_locale_date(value, row, index) {
		    if (value > 0) {
		        var d = new Date(value);
		        return d.toLocaleString();
		    }
		     return "-";
		}

		function _formatte_supplier_name(value, row, index) {
		    return '<div style="min-width: 150px;">' + value + '</div>';
		}

		function _reset(from) {
            from[0].reset();
        }

		$(".btn.btn-primary.btn-assign").click(function() {
            _reset($(".form-horizontal.form-task-allocation-assign"));

            var id = $("input[name='_project_id']:checked").val();
		    if (id != undefined) {
                // 读取Project选中的用户信息
                $.get("/console/project_management/get/" + id, null, function(r, status) {
                    var form = $(".form-horizontal.form-task-allocation-assign");
                    form.find("input[id='id']").val(r.id);
                    form.find("input[id='version']").val(r.version);
                    form.find("input[id='name']").val(r.name);
                    form.find("input[id='worldId']").val(r.worldId);
                    form.find("input[id='locale']").val(r.locale);
                    form.find("input[id='state']").val(r.state);

                    $("#dialog-task-allocation-assign-title").html("Assign supplier");
                    $("#dialog-task-allocation-assign").modal("show");
                });
		    } else {
		        $(".bs-example-modal-sm").find(".modal-body").html("You did not select the task.");
		        $(".bs-example-modal-sm").modal("show");
		    }
        });

        $(".form-task-allocation-assign-submit").click(function() {
            var supplier = $("input[name='_supplier_id']:checked").val();
            if (supplier != undefined) {
                $(".form-horizontal.form-task-allocation-assign").find("input[id='supplier']").val(supplier);
            } else {
		        $(".bs-example-modal-sm").find(".modal-body").html("You did not select the supplier.");
		        $(".bs-example-modal-sm").modal("show");

		        return;
            }

            var data = $(".form-task-allocation-assign").serializeArray();
            $.post("/console/project_management/assign_to", data, function(r, status) {
                if (r.status == "SUCCEED") {
                    $(".bs-example-modal-sm").find(".modal-body").html("Assign supplier succeed.");
                    $(".bs-example-modal-sm").modal("show");
                    $(".btn.btn-default.form-task-allocation-assign-close").click();

                    $(".panel.panel-default").find("button[name='refresh']").click();
                } else {
                    if (r.message.WARNING) {
                        $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                        $(".bs-example-modal-sm").modal("show");
                    }
                }
            });
        });

        $(".bs-example-modal-sm").on('hide.bs.modal', function (e) {
            $(".bs-example-modal-sm").find(".modal-footer-reopen-confirm").css("display", "none");
            $(".bs-example-modal-sm").find(".modal-footer-pushback-confirm").css("display", "none");

            $(".modal-backdrop.fade.in").remove();
        })

        $(".btn-re-open").click(function() {
            var id = $("input[name='_project_id']:checked").val();
		    if (id != undefined) {
                // 读取Project选中的用户信息
                $.get("/console/project_management/get/" + id, null, function(r, status) {
                    $(".bs-example-modal-sm").find(".modal-body").html("Are you sure the \"Re Open\" " + r.name + " project?");
		            $(".bs-example-modal-sm").find(".modal-footer-reopen-confirm").css("display", "");
                    $(".bs-example-modal-sm").modal("show");
                });
		    } else {
		        $(".bs-example-modal-sm").find(".modal-body").html("You did not select the task.");
		        $(".bs-example-modal-sm").modal("show");
		    }
        });

        $(".btn-task-reopen-confirm").click(function() {
            var id = $("input[name='_project_id']:checked").val();
		    if (id != undefined) {
                var data = {"id": id};
                $.post("/console/project_management/re_open", data, function(r, status) {
                    if (r.status == "SUCCEED") {
                        $(".bs-example-modal-sm").find(".modal-body").html("Re open succeed.");
                        $(".bs-example-modal-sm").modal("show");

                        $(".panel.panel-default").find("button[name='refresh']").click();
                    } else {
                        if (r.message.WARNING) {
                            $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                            $(".bs-example-modal-sm").modal("show");
                        }
                    }
                });
            } else {
		        $(".bs-example-modal-sm").find(".modal-body").html("You did not select the task.");
		        $(".bs-example-modal-sm").modal("show");
		    }
        });


        $(".btn-push-back").click(function() {
            var id = $("input[name='_project_id']:checked").val();
		    if (id != undefined) {
                // 读取Project选中的用户信息
                $.get("/console/project_management/get/" + id, null, function(r, status) {
                    $(".bs-example-modal-sm").find(".modal-body").html("Are you sure the \"Push Back\" " + r.name + " project?");
		            $(".bs-example-modal-sm").find(".modal-footer-pushback-confirm").css("display", "");
                    $(".bs-example-modal-sm").modal("show");
                });
		    } else {
		        $(".bs-example-modal-sm").find(".modal-body").html("You did not select the task.");
		        $(".bs-example-modal-sm").modal("show");
		    }
        });

        $(".btn-task-pushback-confirm").click(function() {
            var id = $("input[name='_project_id']:checked").val();
		    if (id != undefined) {
                var data = {"id": id};
                $.post("/console/project_management/push_back", data, function(r, status) {
                    if (r.status == "SUCCEED") {
                        $(".bs-example-modal-sm").find(".modal-body").html("Push back succeed.");
                        $(".bs-example-modal-sm").modal("show");

                        $(".panel.panel-default").find("button[name='refresh']").click();
                    } else {
                        if (r.message.WARNING) {
                            $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                            $(".bs-example-modal-sm").modal("show");
                        }
                    }
                });
            } else {
		        $(".bs-example-modal-sm").find(".modal-body").html("You did not select the task.");
		        $(".bs-example-modal-sm").modal("show");
		    }
        });

        $(document).ready(function() {
            $('#_table_project_search').bootstrapTable({
                method: 'get',
                url: "/console/project_management/search",
                striped: true,
                dataType: "json",
                pagination: true,
                queryParamsType: "limit",
                singleSelect: true,
                contentType: "application/x-www-form-urlencoded",
                pageSize: 10,
                pageNumber:1,
                search: true,
                showColumns: true,
                showRefresh: true,
                sidePagination: "server", //服务端请求
                queryParams: function(params) {
                    return {
                        limit: params.limit,
                        offset: params.offset / params.limit,
                        search: $(".search").find("input").val()
                    };
                },
                responseHandler: function(res) {
                    return {
                        "rows": res.rows,
                        "total": res.total
                    };
                }
            });
        });
	</script>	
</body>
</html>
