<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>REGISTER</title>

    <link href="/style/bootstrap.min.css" rel="stylesheet"/>
    <link href="/style/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/style/layout.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="/javascript/html5shiv.js"></script>
    <script src="/javascript/respond.min.js"></script>
	<![endif]-->
    <style>
        .mask {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            filter: alpha(opacity=70);
            background-color: rgba(49, 46, 51, 1);
            z-index: 99999;
            left: 0px;
            opacity: 0.6;
            -moz-opacity: 0.6;
            text-align: center;
            display: none;
        }

        .W180 {
            width: 180px;
        }

        .W150 {
            width: 150px;
        }

        .W100 {
            width: 100px;
        }

        .W80 {
            width: 80px;
        }

        .W30 {
            width: 30px;
        }

        .W20 {
            width: 20px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/console"><span>User</span></a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group" style="font-weight: 600;color: #30a5ff;text-transform: uppercase;text-align: right;">
            Welcome<br/><span>HELLO</span>&nbsp;<span>WORLD</span>
        </div>
    </form>
    <ul class="nav menu">
        <li><a href="/console/face_upload"><span class="glyphicon glyphicon-user"></span> Face Upload</a></li>
        <li class="active"><a href="/console/face_register"><span class="glyphicon glyphicon-list-alt"></span> User
            Management</a></li>
        <li><a href="/console/face_task"><span class="glyphicon glyphicon-folder-open"></span> Task Management</a></li>
        <li><a href="/console/face_config"><span class="glyphicon glyphicon-ok"></span> Config Info</a></li>
        <li><a href="/console/face_detect"><span class="glyphicon glyphicon-random"></span> Face Detect</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            <li class="active">User Management</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12" style="display:none;">
            <h1 class="page-header">User Management</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<button class="btn btn-primary open-add-new-user-dialog" data-toggle="modal">Add New User</button>-->
                    <button class="btn btn-default open-update-use-dialog" data-toggle="modal">Update User</button>
                    <button class="btn btn-primary delete-face-dialog" data-toggle="modal">Delete User</button>
                </div>
                <div class="panel-body">
                    <table id="_table_task_search">
                        <thead>
                        <tr>
                            <th data-field="id" data-formatter="_formatte_task_id" data-align="center" class="W20"></th>
                            <th data-field="userid" data-sortable="true" class="W30" style="border:none;">User ID</th>
                            <th data-field="name" data-sortable="true" class="W30" style="border:none;">Name</th>
                            <th data-field="feature" data-formatter="_formatte_locale_image" data-sortable="true"
                                class="W100" style="border:none;">Image
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>    <!--/.main-->

<div id="dialog-user-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Register | <span id="dialog-user-management-update-title"></span></h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal add-new-user" method="POST">
                    <input type="text" style="display:none;" id="id" name="id"/>
                    <input type="text" style="display:none;" id="version" name="version"/>
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="name" name="name" data-toggle="tooltip"
                                   data-placement="top" maxlength="100"/>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-primary add-new-user">Save Changes</button>
                        </div>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">Confirm
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/javascript/jquery-1.11.1.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/bootstrap-table.min.js"></script>
<script>
    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');
    });

    function _formatte_task_id(value, row, index) {
        return '<input name="id" type="radio" value="' + value + '" />';
    }

    function _reset(from) {
        from[0].reset();
        _reset_input(from.find("input"));
    }

    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');
    }

    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $(".btn.btn-primary.open-add-new-user-dialog").click(function () {
        _reset($(".form-horizontal.add-new-user"));
        $("#dialog-user-management-update-title").html("Add new task");
        $("#dialog-user-management-update").modal("show");
    });

    $(".btn.btn-default.open-update-use-dialog").click(function () {
        var id = $("input[type='radio']:checked").val();
        if (id != undefined) {
            _reset($(".form-horizontal.add-new-user"));
            // 读取用户选中的用户信息
            $.get("/console/project_management/get/" + id, null, function (r, status) {
                $("#dialog-user-management-update").find("input[id='id']").val(r.id);
                $("#dialog-user-management-update").find("input[id='version']").val(r.version);
                $("#dialog-user-management-update").find("input[id='name']").val(r.name);

                $("#dialog-user-management-update-title").html("Update user");
                $("#dialog-user-management-update").modal("show");
            });
        } else {
            $(".bs-example-modal-sm").find(".modal-body").html("You did not select the user.");
            $(".bs-example-modal-sm").modal("show");
        }
    });

    $(".btn.btn-primary.add-new-user").click(function () {
        _reset_input($(".form-horizontal.add-new-user").find("input"));

        var data = $(".form-horizontal.add-new-user").serializeArray();
        $.post("/console/project_management/update", data, function (r, status) {
            if (r.status == "SUCCEED") {
                $(".bs-example-modal-sm").find(".modal-body").html(
                    $("#dialog-user-management-update-title").html() + " succeeded."
                );
                $(".bs-example-modal-sm").modal("show");
                $(".btn.btn-default.add-new-user-close").click();
                $(".panel.panel-default").find("button[name='refresh']").click();
                // location.reload();
            } else {
                if (r.message.rtspUrl) {
                    _set($(".form-horizontal.add-new-user").find("input[id='rtspUrl']"), r.message.rtspUrl);
                }

                if (r.message.WARNING) {
                    $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                    $(".bs-example-modal-sm").modal("show");
                }
            }
        });
    });

    $(".delete-face-dialog").click(function () {
        var id = $("input[type='radio']:checked").val();
        if (id != undefined) {
            // 读取Project选中的用户信息
            $.get("/console/project_management/get/" + id, null, function (r, status) {
                $(".bs-example-modal-sm").find(".modal-body").html("Are you sure to delete user " + r.name + "?");
                $(".bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
                $(".bs-example-modal-sm").modal("show");
            });
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the user.");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn-task-delete-confirm").click(function () {
        var id = $("input[type='radio']:checked").val();
        if (id != undefined) {
            var data = {"id": id};
            $.post("/console/project_management/delete", data, function (r, status) {
                if (r.status == "SUCCEED") {
                    $("#dialog-return").find(".modal-body").html("Delete succeeded.");
                    $("#dialog-return").modal("show");

                    $(".panel.panel-default").find("button[name='refresh']").click();
                } else {
                    if (r.message.WARNING) {
                        $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                        $("#dialog-return").modal("show");
                    }
                }
            });
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the task.");
            $("#dialog-return").modal("show");
        }
    });

    $(".bs-example-modal-sm").on('hide.bs.modal', function (e) {
        $(".bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "none");

        $(".modal-backdrop.fade.in").remove();
    })

    $(document).ready(function () {
        $('#_table_task_search').bootstrapTable({
            method: 'get',
            url: "/console/project_management/search",
            striped: true,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            pageNumber: 1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求
            queryParams: function (params) {
                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,
                    search: $(".search").find("input").val()
                };
            },
            responseHandler: function (res) {
                return {
                    "rows": res.rows,
                    "total": res.total
                };
            }
        });
    });

    function _formatte_locale_date(value, row, index) {
        if (value > 0) {
            var d = new Date(value);
            return d.toLocaleString();
        }
        return "-";
    }

    function _formatte_locale_image(value, row, index) {
        var s = '<a class = "view"  href="javascript:void(0)"><img style="width:400;height:150px;"  src="' + value + '" /></a>';
        return s;
    }
</script>
</body>
</html>
