<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GBMS</title>

    <link href="/style/bootstrap.min.css" rel="stylesheet"/>
    <link href="/style/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/style/layout.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="/javascript/html5shiv.js"></script>
    <script src="/javascript/respond.min.js"></script>
    <![endif]-->
    <style>
        .mask {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            filter: alpha(opacity=70);
            background-color: rgba(49, 46, 51, 1);
            z-index: 99999;
            left: 0px;
            opacity: 0.6;
            -moz-opacity: 0.6;
            text-align: center;
            display: none;
        }

        .W180 {
            width: 180px;
        }

        .W150 {
            width: 150px;
        }

        .W100 {
            width: 100px;
        }

        .W30 {
            width: 30px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/console"><span>GBMS</span></a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group" style="font-weight: 600;color: #30a5ff;text-transform: uppercase;text-align: right;">
            Welcome<br/><span th:text="${session.user.firstName}">HELLO</span>&nbsp;<span
                th:text="${session.user.lastName}">WORLD</span>
        </div>
    </form>
    <ul class="nav menu">
        <li th:if="${session.user.role} == 'A'"><a href="/console/user_management"><span
                class="glyphicon glyphicon-user"></span> User management</a></li>
        <li th:if="${session.user.role} == 'C'"><a href="/console/task_schedule_tracking"><span
                class="glyphicon glyphicon-ok"></span> Task schedule tracking</a></li>
        <li th:if="${session.user.role} == 'PM'"><a href="/console/task_allocation"><span
                class="glyphicon glyphicon-folder-open"></span> Task allocation</a></li>
        <li class="active" th:if="${session.user.role} == 'S'"><a href="/console/task_management"><span
                class="glyphicon glyphicon-list-alt"></span> Task management</a></li>
        <li th:if="${session.user.role} == 'S'"><a href="/console/task_management_complete"><span
                class="glyphicon glyphicon-list-alt"></span> Task completed</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="/console/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            <li class="active">Task management</li>
        </ol>
    </div><!--/.row-->

    <div class="row" style="display:none;">
        <div class="col-lg-12">
            <h1 class="page-header">Task management</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-danger btn-rejet" type="button" data-toggle="modal">Reject</button>
                    <button class="btn btn-success btn-commit" data-toggle="modal">Claim</button>
                    <button class="btn btn-primary btn-check-in" data-toggle="modal">Upload</button>
                    <button class="btn btn-primary btn-delivery" data-toggle="modal">Deliver</button>
                </div>
                <div class="panel-body" style="overflow-y: scroll;height: 500px;">
                    <table data-toggle="table"
                           data-url="/console/project_management/task_list"
                           data-method="get"
                           data-striped="true"
                           data-show-refresh="true"
                           data-show-toggle="false"
                           data-show-columns="true"
                           data-search="true"
                           data-pagination="true"
                           data-sidePagination="client"
                           data-cache="false"
                           data-resizable="true"
                           data-sort-name="name"
                           data-idField="id">
                        <thead>
                        <tr>
                            <th data-field="id" data-formatter="_formatte_project_id" data-align="center"
                                class="W30"></th>
                            <th data-field="name" data-sortable="true" class="W150">Project Name</th>
                            <th data-field="worldId" data-sortable="true" class="W100">Project #</th>
                            <th data-field="locale" data-sortable="true" class="W100">Locale</th>
                            <th data-field="state" data-sortable="true" class="W100">Status</th>
                            <th data-field="projectManagerName" data-sortable="true" class="W150">Project Manager</th>
                            <th data-field="supplierName" data-sortable="true" data-formatter="_formatte_supplier_name"
                                class="W150">Supplier
                            </th>
                            <th data-field="sourceName" data-formatter="_formatte_source" data-sortable="true"
                                class="W180">Source File
                            </th>
                            <th data-field="translateName" data-formatter="_formatte_translate" data-sortable="true"
                                class="W180">Translated File
                            </th>
                            <th data-field="creation" data-formatter="_formatte_locale_date" data-sortable="true"
                                class="W180">Creation Date
                            </th>
                            <th data-field="assinged" data-formatter="_formatte_locale_date" data-sortable="true"
                                class="W180">Assinged Date
                            </th>
                            <th data-field="checkin" data-formatter="_formatte_locale_date" data-sortable="true"
                                class="W180">Upload Date
                            </th>
                            <th data-field="pushback" data-formatter="_formatte_locale_date" data-sortable="true"
                                class="W180">Import Date
                            </th>
                            <th data-field="completedate" data-formatter="_formatte_locale_date" data-sortable="true"
                                class="W180">Complete Date
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>    <!--/.main-->

<div id="dialog-uploadfiles" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Task management | Upload "<span id="dialog-uploadfiles-title"></span>"</h4>
            </div>
            <div class="modal-body">
                <form role="form"
                      class="form-horizontal form-uploadfiles"
                      enctype="multipart/form-data"
                      method="POST">
                    <input type="text" style="display:none;" id="id" name="id"/>
                    <div class="form-group">
                        <label for="translateFile" class="col-sm-3 control-label">Translate File</label>
                        <div class="col-sm-8">
                            <input style="display:none;"
                                   type="file"
                                   id="translateFile"
                                   name="translateFile"
                                   onchange="javascript:$('#translateFileView').val(this.value.substr(this.value.lastIndexOf('\\') + 1));"
                                   required="required"/>
                            <div class="input-group">
                                <input type="text" class="form-control" id="translateFileView" readonly="readonly"/>
                                <span class="input-group-btn">
                                      <button class="btn btn-success" type="button"
                                              onclick="javascript:$('#translateFile').click();">Choose</button>
                                    </span>
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-default btn-check-in-close" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-primary btn-check-in-confirm">Confirm</button>
                        </div>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" style="z-index:99998" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-rejet-confirm" style="display:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-task-rejet-confirm" data-dismiss="modal">Confirm
                </button>
            </div>
            <div class="modal-footer modal-footer-commit-confirm" style="display:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-task-commit-confirm" data-dismiss="modal">Confirm
                </button>
            </div>
            <div class="modal-footer modal-footer-checkin-confirm" style="display:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-task-checkin-confirm" data-dismiss="modal">Confirm
                </button>
            </div>
            <div class="modal-footer modal-footer-delivery-confirm" style="display:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-task-delivery-confirm" data-dismiss="modal">Confirm
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="mask">
    <img src="/images/1831f5d788adb741537f7468c32acea0.gif"/>
</div>

<script src="/javascript/jquery-1.11.1.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/bootstrap-table.min.js"></script>
<script src="/javascript/colResizable-1.6.min.js"></script>
<script src="/javascript/bootstrap-table-resizable.min.js"></script>
<script>
    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');
    });

    //显示遮罩层
    function showMask() {
        $(".mask").show();
    }

    //隐藏遮罩层
    function hideMask() {
        $(".mask").hide();
    }

    function _formatte_project_id(value, row, index) {
        return '<input name="_project_id" type="radio" value="' + value + '" />';
    }

    function _formatte_locale_date(value, row, index) {
        if (value > 0) {
            var d = new Date(value);
            return d.toLocaleString();
        }
        return "-";
    }

    function _formatte_supplier_name(value, row, index) {
        return '<div style="min-width: 150px;">' + value + '</div>';
    }

    function _formatte_translate(value, row, index) {
        if (value != undefined) {
            return '<a href="/console/project_management/dowload/translate/' + row.id + '" target="_black">' + value + '</a>';
        }
    }

    function _formatte_source(value, row, index) {
        if (value != undefined) {
            return '<a href="/console/project_management/dowload/source/' + row.id + '" target="_black">' + value + '</a>';
        }
    }

    $(".bs-example-modal-sm").on('hide.bs.modal', function (e) {
        $(".bs-example-modal-sm").find(".modal-footer-rejet-confirm").css("display", "none");
        $(".bs-example-modal-sm").find(".modal-footer-commit-confirm").css("display", "none");
        $(".bs-example-modal-sm").find(".modal-footer-checkin-confirm").css("display", "none");
        $(".bs-example-modal-sm").find(".modal-footer-delivery-confirm").css("display", "none");

        $(".modal-backdrop.fade.in").remove();
    })

    $(".btn.btn-success.btn-commit").click(function () {
        var id = $("input[name='_project_id']:checked").val();
        if (id != undefined) {
            // 读取Project选中的用户信息
            $.get("/console/project_management/get/" + id, null, function (r, status) {
                $(".bs-example-modal-sm").find(".modal-body").html("Are you sure to \"Claim\" " + r.name + " project?");
                $(".bs-example-modal-sm").find(".modal-footer-commit-confirm").css("display", "");
                $(".bs-example-modal-sm").modal("show");
            });
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the task.");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn-delivery").click(function () {
        var id = $("input[name='_project_id']:checked").val();
        if (id != undefined) {
            // 读取Project选中的用户信息
            $.get("/console/project_management/get/" + id, null, function (r, status) {
                $(".bs-example-modal-sm").find(".modal-body").html("Are you sure to \"Deliver\" " + r.name + " project?");
                $(".bs-example-modal-sm").find(".modal-footer-delivery-confirm").css("display", "");
                $(".bs-example-modal-sm").modal("show");
            });
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the task.");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn-task-commit-confirm").click(function () {
        var id = $("input[name='_project_id']:checked").val();
        if (id != undefined) {
            var data = {"id": id};
            $.post("/console/project_management/commit", data, function (r, status) {
                if (r.status == "SUCCEED") {
                    $("#dialog-return").find(".modal-body").html("Claim succeeded.");
                    $("#dialog-return").modal("show");

                    $(".panel.panel-default").find("button[name='refresh']").click();
                } else {
                    if (r.message.WARNING) {
                        $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                        $("#dialog-return").modal("show");
                    }
                }
            });
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the task.");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn-task-delivery-confirm").click(function () {
        var id = $("input[name='_project_id']:checked").val();
        if (id != undefined) {
            var data = {"id": id};
            $.post("/console/project_management/delivery", data, function (r, status) {
                if (r.status == "SUCCEED") {
                    $("#dialog-return").find(".modal-body").html("Deliver succeeded.");
                    $("#dialog-return").modal("show");

                    $(".panel.panel-default").find("button[name='refresh']").click();
                } else {
                    if (r.message.WARNING) {
                        $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                        $("#dialog-return").modal("show");
                    }
                }
            });
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the task.");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn.btn-danger.btn-rejet").click(function () {
        //alert(123321);
        var id = $("input[name='_project_id']:checked").val();
        //alert(222222);
        //alert(id);
        if (id != undefined) {
            //alert(333333);
            // 读取Project选中的用户信息
            $.get("/console/project_management/get/" + id, null, function (r, status) {
                //alert(r.name);
                $(".bs-example-modal-sm").find(".modal-body").html("Are you sure to \"Reject\" " + r.name + " project?");
                $(".bs-example-modal-sm").find(".modal-footer-rejet-confirm").css("display", "");
                //$(".bs-example-modal-sm").modal({backdrop: 'static', keyboard: false});
                $(".bs-example-modal-sm").modal("show");
                //alert(555555);
            });
            //alert(444444);
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the task.");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn-task-rejet-confirm").click(function () {
        var id = $("input[name='_project_id']:checked").val();
        if (id != undefined) {
            var data = {"id": id};
            $.post("/console/project_management/rejet", data, function (r, status) {
                if (r.status == "SUCCEED") {
                    //alert(666666);
                    $("#dialog-return").find(".modal-body").html("Reject succeeded.");
                    $("#dialog-return").modal("show");
                    //alert(777777);
                    $(".panel.panel-default").find("button[name='refresh']").click();
                    //alert(888888);
                } else {
                    if (r.message.WARNING) {
                        $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                        $("#dialog-return").modal("show");
                    }
                }
            });
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the task.");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn-check-in").click(function () {
        var id = $("input[name='_project_id']:checked").val();
        if (id != undefined) {
            var target = "/console/project_management/get/" + id;
            $.get(target, null, function (r, status) {
                $(".form-horizontal.form-uploadfiles")[0].reset();
                $("#dialog-uploadfiles").find("input[id='id']").val(r.id);
                $("#dialog-uploadfiles-title").html(r.name);
                $("#dialog-uploadfiles").modal("show");
            });
        } else {
            $("#dialog-return").find(".modal-body").html("You did not select the task.");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn-check-in-confirm").click(function () {
        var message = undefined;
        var id = $("input[name='_project_id']:checked").val();
        if (id != undefined) {
            var file = $("#translateFile")[0].files[0];
            if (file != undefined) {
                var form = new FormData();
                form.append("id", id);
                form.append("file", $("#translateFile")[0].files[0]);
                $.ajax({
                    url: "/console/project_management/checkin",
                    type: "post",
                    data: form,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        showMask();
                    },
                    success: function (r) {
                        hideMask();
                        if (r.status == "SUCCEED") {
                            $("#dialog-return").find(".modal-body").html("Upload succeeded.");
                            $("#dialog-return").modal("show");
                            $("#dialog-uploadfiles").modal("hide");

                            $(".panel.panel-default").find("button[name='refresh']").click();
                        } else {
                            if (r.message.WARNING) {
                                $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                                $("#dialog-return").modal("show");
                            }
                        }
                    },
                    error: function (r) {
                        hideMask();
                        $("#dialog-return").find(".modal-body").html("Oh snap! System handling failure.");
                        $("#dialog-return").modal("show");
                    }
                });
            } else {
                message = "Please choose the file.";
            }
        } else {
            message = "You did not select the task.";
        }
        if (message != undefined) {
            $("#dialog-return").find(".modal-body").html(message);
            $("#dialog-return").modal("show");
        }
    });
</script>
</body>
</html>
