<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GBMS</title>

    <link href="/style/bootstrap.min.css" rel="stylesheet"/>
    <link href="/style/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/style/layout.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="/javascript/html5shiv.js"></script>
    <script src="/javascript/respond.min.js"></script>
	<![endif]-->
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/console"><span>GBMS</span></a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group" style="font-weight: 600;color: #30a5ff;text-transform: uppercase;text-align: right;">
            Welcome<br/><span th:text="${session.user.firstName}">HELLO</span>&nbsp;<span
                th:text="${session.user.lastName}">WORLD</span>
        </div>
    </form>
    <ul class="nav menu">
        <li class="active" th:if="${session.user.role} == 'A'"><a href="/console/user_management"><span
                class="glyphicon glyphicon-user"></span> User management</a></li>
        <li th:if="${session.user.role} == 'A'"><a href="/console/auto_task_assignment"><span
                class="glyphicon glyphicon-random"></span> Auto Task Assignment</a></li>
        <li th:if="${session.user.role} == 'C'"><a href="/console/task_schedule_tracking"><span
                class="glyphicon glyphicon-ok"></span> Task schedule tracking</a></li>
        <li th:if="${session.user.role} == 'PM'"><a href="/console/task_allocation"><span
                class="glyphicon glyphicon-folder-open"></span> Task allocation</a></li>
        <li th:if="${session.user.role} == 'S'"><a href="/console/task_management"><span
                class="glyphicon glyphicon-list-alt"></span> Task management</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="/console/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            <li class="active">User Management</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User Management</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-primary open-add-new-user-dialog" data-toggle="modal">Add New User</button>
                    <button class="btn btn-default open-update-use-dialog" data-toggle="modal">Update User</button>
                </div>
                <div class="panel-body">
                    <table id="_table_user_search">
                        <thead>
                        <tr>
                            <th data-field="id" data-formatter="_formatte_user_id" data-align="center"></th>
                            <th data-field="username">Username</th>
                            <th data-field="firstName">First Name</th>
                            <th data-field="lastName">Last Name</th>
                            <th data-field="email">Email</th>
                            <th data-field="role">Role</th>
                            <th data-field="enabled">Enabled</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>    <!--/.main-->

<div id="dialog-user-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">User Management | <span id="dialog-user-management-update-title"></span></h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal add-new-user" method="POST">
                    <input type="text" style="display:none;" id="id" name="id"/>
                    <input type="text" style="display:none;" id="version" name="version"/>
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">Username</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="username" name="username" data-toggle="tooltip"
                                   data-placement="top" maxlength="30" required="required"/>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-4 control-label">First Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstName" name="firstName" maxlength="30"/>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-4 control-label">Last Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="lastName" name="lastName" maxlength="30"/>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="email" name="email" data-toggle="tooltip"
                                   data-placement="top" maxlength="200" placeholder="e.g john@example.com"/>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="password" name="password" data-toggle="tooltip"
                                   maxlength="20" data-placement="bottom" required="required"/>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="col-sm-4 control-label">Confirm Password</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="confirmPassword" name="confirmPassword"
                                   maxlength="20" required="required"/>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-4 control-label">Role</label>
                        <div class="col-sm-7">
                            <select id="role" name="role" class="form-control" required="required">
                                <option value="S">S - Supplier</option>
                                <option value="A">A - Admin</option>
                                <option value="C">C - Customer</option>
                                <option value="PM">PM - Project Management</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="enabled" class="col-sm-4 control-label">Enabled</label>
                        <div class="col-sm-7">
                            <select id="enabled" name="enabled" class="form-control" required="required">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-primary add-new-user">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/javascript/jquery-1.11.1.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/bootstrap-table.min.js"></script>
<script>
    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');
    });

    function _formatte_user_id(value, row, index) {
        return '<input name="id" type="radio" value="' + value + '" />';
    }

    function _reset(from) {
        from[0].reset();
        _reset_input(from.find("input"));
    }

    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');
    }

    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $(".btn.btn-primary.open-add-new-user-dialog").click(function () {
        _reset($(".form-horizontal.add-new-user"));
        $("#dialog-user-management-update-title").html("Add new user");
        $("#dialog-user-management-update").modal("show");
    });

    $(".btn.btn-default.open-update-use-dialog").click(function () {
        var id = $("input[type='radio']:checked").val();
        if (id != undefined) {
            _reset($(".form-horizontal.add-new-user"));
            // 读取用户选中的用户信息
            $.get("/console/user_management/get/" + id, null, function (r, status) {
                $("#dialog-user-management-update").find("input[id='id']").val(r.id);
                $("#dialog-user-management-update").find("input[id='version']").val(r.version);
                $("#dialog-user-management-update").find("input[id='username']").val(r.username);
                $("#dialog-user-management-update").find("input[id='firstName']").val(r.firstName);
                $("#dialog-user-management-update").find("input[id='lastName']").val(r.lastName);
                $("#dialog-user-management-update").find("input[id='email']").val(r.email);
                $("#dialog-user-management-update").find("select[id='role']").val(r.role);
                $("#dialog-user-management-update").find("select[id='enabled']").val(r.enabled ? "True" : "False");

                $("#dialog-user-management-update-title").html("Update user");
                $("#dialog-user-management-update").modal("show");
            });
        } else {
            $(".bs-example-modal-sm").find(".modal-body").html("You did not select the user.");
            $(".bs-example-modal-sm").modal("show");
        }
    });

    $(".btn.btn-primary.add-new-user").click(function () {
        _reset_input($(".form-horizontal.add-new-user").find("input"));

        var data = $(".form-horizontal.add-new-user").serializeArray();
        $.post("/console/user_management/save", data, function (r, status) {
            if (r.status == "SUCCEED") {
                $(".bs-example-modal-sm").find(".modal-body").html(
                    $("#dialog-user-management-update-title").html() + " succeeded."
                );
                $(".bs-example-modal-sm").modal("show");
                $(".btn.btn-default.add-new-user-close").click();
                $(".panel.panel-default").find("button[name='refresh']").click();
                // location.reload();
            } else {
                if (r.message.username) {
                    _set($(".form-horizontal.add-new-user").find("input[id='username']"), r.message.username);
                }
                if (r.message.email) {
                    _set($(".form-horizontal.add-new-user").find("input[id='email']"), r.message.email);
                }
                if (r.message.password) {
                    _set($(".form-horizontal.add-new-user").find("input[id='password']"), r.message.password);
                }
                if (r.message.firstName) {
                    _set($(".form-horizontal.add-new-user").find("input[id='firstName']"), r.message.firstName);
                }
                if (r.message.lastName) {
                    _set($(".form-horizontal.add-new-user").find("input[id='lastName']"), r.message.lastName);
                }
                if (r.message.WARNING) {
                    $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                    $(".bs-example-modal-sm").modal("show");
                }
            }
        });
    });

    $(document).ready(function () {
        $('#_table_user_search').bootstrapTable({
            method: 'get',
            url: "/console/user_management/search",
            striped: true,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            pageNumber: 1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求
            queryParams: function (params) {
                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,
                    search: $(".search").find("input").val()
                };
            },
            responseHandler: function (res) {
                return {
                    "rows": res.rows,
                    "total": res.total
                };
            }
        });
    });
</script>
</body>
</html>
